<mat-card>
  <form class="example-form" [formGroup]="triggerForm">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card>Name *</mat-card><br>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Trigger Name *" formControlName="name">
              <mat-option *ngFor="let element of data" [value]="element.name">
                {{ element.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-radio-group aria-label="Select an option" floatLabel="never" [(ngModel)]="triggerDateKnown"
            [ngModelOptions]="{standalone: true}" placeholder="Trigger Date Known" (change)="onChange($event)">
              <mat-radio-button value="triggerdateLbman">Lawful</mat-radio-button>
              <mat-radio-button value="triggerdateSvcscat">Service Category</mat-radio-button>
              <mat-radio-button value="triggerdateItem">Item</mat-radio-button>
            </mat-radio-group>
          </mat-card><br>

          <mat-card>
            <mat-checkbox>Is Interim Trigger?</mat-checkbox>
            <mat-form-field>
              <mat-select floatLabel="never" placeholder="Interim Trigger Name"></mat-select>
            </mat-form-field>
          </mat-card><br>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Constraint Name *">
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-radio-group aria-label="Select an option" floatLabel="never" [(ngModel)]="constraintDateKnown"
            [ngModelOptions]="{standalone: true}" placeholder="Constraint Value Known">
              <mat-radio-button value="constraintLbman">Lawful</mat-radio-button>
              <mat-radio-button value="constraintSvcscat">Service Category</mat-radio-button>
              <mat-radio-button value="constraintItem">Item</mat-radio-button>
            </mat-radio-group>
          </mat-card><br>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Effective Deadline Info *">
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Related Processing Basis Reference Type *">
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-checkbox formControlName="purma">PURMA</mat-checkbox>
            <mat-checkbox formControlName="nntm">NNTM</mat-checkbox>
            <mat-checkbox formControlName="pdbtm">PDB</mat-checkbox>
            <mat-checkbox formControlName="dsart">DSART</mat-checkbox>
          </mat-card><br>

          <mat-form-field>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>

          <button mat-raised-button color="light" (click)="check($event)"><span class="material-icons">close</span> Close</button>
          <button mat-raised-button color="light" [disabled]="triggerForm.invalid"><span class="material-icons">save</span> Save</button>

        </div>
      </div>
    </div>
  </form>
</mat-card>
