<h5>Trigger and Constraint Schemes - New</h5>
<mat-card>
  <form class="example-form" [formGroup]="triggerForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card>Name *</mat-card><br>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Trigger Name *" formControlName="name">
              <mat-option *ngFor="let element of data" [value]="element.name">
                {{ element.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-radio-group aria-label="Select an option" floatLabel="never" [(ngModel)]="triggerDateKnown"
              [ngModelOptions]="{standalone: true}" placeholder="Trigger Date Known" (change)="onTriggerChange($event)">
              <mat-radio-button value="1">Lawful</mat-radio-button>
              <mat-radio-button value="2">Service Category</mat-radio-button>
              <mat-radio-button value="3">Item</mat-radio-button>
            </mat-radio-group>
          </mat-card><br>

          <mat-card>
            <mat-checkbox formControlName="isinterimtrigger">Is Interim Trigger?</mat-checkbox>
            <mat-form-field>
              <mat-select floatLabel="never" placeholder="Interim Trigger Name" formControlName="interimtrigger">
                <mat-option value="33">Early contract termination notice</mat-option>
                <mat-option value=""></mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card><br>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Constraint Name *" formControlName="constraint">
              <mat-option value="1"></mat-option>
              <mat-option value=""></mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-radio-group aria-label="Select an option" floatLabel="never" [(ngModel)]="constraintDateKnown"
              [ngModelOptions]="{standalone: true}" placeholder="Constraint Value Known"
              (change)="onConstraintChange($event)">
              <mat-radio-button value="1">Lawful</mat-radio-button>
              <mat-radio-button value="2">Service Category</mat-radio-button>
              <mat-radio-button value="3">Item</mat-radio-button>
            </mat-radio-group>
          </mat-card><br>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Effective Deadline Info *"
              formControlName="lbmanEffectivedeadlineinfo">
              <mat-option value="3">Planned Personal Data transfer to other processing entity</mat-option>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Related Processing Basis Reference Type"
              formControlName="lbmanProcbasisref">
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-checkbox formControlName="purma">PURMA</mat-checkbox>
            <mat-checkbox formControlName="nntm">NNTM</mat-checkbox>
            <mat-checkbox formControlName="pdbtm">PDB</mat-checkbox>
            <mat-checkbox formControlName="dsart">DSART</mat-checkbox>
          </mat-card><br>

          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>

          <button mat-raised-button color="light" type="button"><span class="material-icons">close</span>
            Close</button>
          <button mat-raised-button color="light" [disabled]="triggerForm.invalid" type="submit"><span
              class="material-icons">save</span> Save</button>

        </div>
      </div>
    </div>
  </form>
</mat-card>
