<mat-card>
  <form class="example-form" [formGroup]="triggerForm">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card>Name *</mat-card>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Trigger Name *" formControlName="name">
              <mat-option *ngFor="let element of data" [value]="element.name">
                {{ element.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-radio-group aria-label="Select an option">
              <mat-label>Trigger Date Known *</mat-label><br>
              <mat-radio-button value="1">Lawful</mat-radio-button>
              <mat-radio-button value="2">Service Category</mat-radio-button>
              <mat-radio-button value="3">Item</mat-radio-button>
            </mat-radio-group>
          </mat-card><br>

          <mat-card>
            <mat-checkbox>Is Interim Trigger?</mat-checkbox>
            <mat-form-field>
              <mat-select floatLabel="never" placeholder="Interim Trigger Name"></mat-select>
            </mat-form-field>
          </mat-card>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Constraint Name *">
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-radio-group aria-label="Select an option" floatLabel="never" placeholder="Constraint Value Known">
              <mat-radio-button value="1">Lawful</mat-radio-button>
              <mat-radio-button value="2">Service Category</mat-radio-button>
              <mat-radio-button value="3">Item</mat-radio-button>
            </mat-radio-group>
          </mat-card>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Effective Deadline Info *">
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select floatLabel="never" placeholder="Related Processing Basis Reference Type *">
            </mat-select>
          </mat-form-field>

          <mat-card>
            <mat-checkbox>PURMA</mat-checkbox>
            <mat-checkbox>NNTM</mat-checkbox>
            <mat-checkbox>PDB</mat-checkbox>
            <mat-checkbox>DSART</mat-checkbox>
          </mat-card>

          <mat-form-field>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>

          <button mat-raised-button color="light"><span class="material-icons">close</span> Close</button>
          <button mat-raised-button color="light" [disabled]="triggerForm.invalid"><span class="material-icons">save</span> Save</button>

        </div>
      </div>
    </div>
  </form>
</mat-card>
